body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} 

/* Header Section Star*/

header {
    background-image: url(./img/bg1.jpg.webp);
    height:  auto;
    background-repeat: no-repeat;
    background-position: 50% -25px;
    position: relative;
    z-index: 1;
    padding-bottom: 250px;
}

header::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.contener{
    width: 1145px;
    margin: 0 auto;
    
}
.padding-lr{
    padding-left: 30px;
    padding-right: 30px;
}

/* Headersection Star */

.headersection {
    padding-top: 20px;
}
.navbersection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 12px 0;
    border-radius: 5px;
}
.logo h1{
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 30px;
}
.logo span{
    color: #30E3CA;
}
.navber {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.navber ul{
    display: flex;
    flex-wrap: wrap;
}
.navber ul li{
    list-style: none;
    padding: 5px 15px;
    
}
.navber ul li a{
    text-decoration: none;
    color:#000000 ;
    font-weight: 400;
}
.navber li a:hover{
    color: #30E3CA;
}
.dropdown{
    position: relative;
}
.dropdown::before {
    position: absolute;
    content: "\f107";
    font-family: "FontAwesome";
    font-size: 12px;
    right: -15px;
    bottom: 32px;
}
.hover-1{
    position: relative;
}
.hover-1 ul{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    top: 50px;
    width:200px ;
    display: none;
    transition: 0.3s;
    padding-left: 0;
}
.hover-1 ul::before{
        position: absolute;
        content: "";
        width: 200px;
        height: 3px;
        background-color: #30E3CA;
        left: 0;
    
}
.hover-1 li{
    line-height: 30px;
    padding-left: 0;
}
.hover-1 ul li a{
    margin-left: 20px;
}
.active {
    color: #30E3CA !important;
}
.hover-1:hover ul  {
    display: block;
}
.hover-1 ul li:hover{
    background-color: #F4F5F9;
    
}
.navbersub{
    position: relative;
}
.navbersub::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 15px;
    background-color: #DEE2E6;
    top: 25px;
    left: 30px;
}

.headerbutton button{
    padding: 13px 20px;
   margin: 0 35px;
   cursor: pointer;
    background-color: #30E3CA;
    border: 1px solid #30E3CA;
    border-radius: 3px;
}
.headerbutton button a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Headersection END */

.herosection{
    text-align: center;
    padding-top: 200px;
}
.textarea1 {
    text-align: center;
}
.textarea1 h1{
    color: #fff;
    font-size:50px ;
    font-weight: 400;
    margin-bottom: 0;
}
.textarea1 p{
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
    margin-top: 10px;
}
.inputbg{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px;
}
.inputarea1{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    
}
.same1{
    padding:13px 20px ;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 400;
}
.select5{
   padding-right: 60px;
}
.button2{
    padding: 13px 50px;
    cursor: pointer;
    background-color: #30e3ca;
    border-radius: 5px;
    border: none;
}

.button2 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    font-weight: 400;
}
.button2:hover{
    background-color: #1CD1B7;
}
.section1{
    background-color: #F8F9FA;
    padding-bottom: 50px;
}
.servicesection1{
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #FFFFFF;
    border-radius: 7px;
    position: relative;
    top: -50px;
    z-index: 9;
    flex-wrap: wrap;
}

.service1{
    text-align: center;
    padding:30px 10px ;
    width: 170px;
    border-radius: 7px;
    position: relative;
    z-index: 9;
    top: 0;
    transition: .3s all ease-in-out;
}
.service1:hover {
    background-color: #30E3CA;
    box-shadow: 0 5px 30px -5px rgba(48, 227, 202, 0.5);
    top: -10px;
}
.service1:hover h6, .service1:hover span, .service1:hover a{
    color: #fff;
}
.service1:hover a{
    background-color: #1BC5AD;
}

.service1 span{
    font-size: 50px;
    color: rgba(14, 255, 215, 0.5);
    transition: .1s all ease;
    
}
.service1 h6{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin: 10px 0;
    transition: .1s all ease;
}
.service1 a{
    text-decoration: none;
    padding: 2px 15px;
    font-size: 15px;
    color: #000000;
    background-color: #e9ecef;
    border-radius:20px;
    transition: .1s all ease;
}
.cardareatitle h2{
    font-weight: 400;
}

.cardarea1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-left: 20px;
    padding-top: 10px;
    flex-wrap: wrap;
}
.card1{
  box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 23%;
}
.card1 img{
    width: 100%;
    border-radius: 7px 7px 0 0;
}
.cardtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.cardtitle h4{
    font-weight:500 ;
    font-size: 13px;
    padding: 5px 15px;
    background-color: #E9ECEF;
    border-radius: 15px;
    margin-left: 20px;
}
.cardtitle i{
    color:#1BC5AD ;
    margin-right: 20px;
    padding: 5px;
    border-radius: 50%;
}
.cardtitle i:hover{
    color:#FFFFFF ;
    background-color: #F23A2E;
}
.cardlink a{
    text-decoration: none;
    color: #0fe9cc;
    font-size: 16px;
    font-weight: 400;
    
}
.cardlink a:hover{
    color: #1BC5AD;
}
.cardlink{
    margin-left: 20px;
    margin-top: 5px;
}
.cardlink p{
    margin-top: 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 0;
}
.reviews{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}
.icons1 i{
    color: #F89D13;
    font-size: 15px;
}
.icons1 i:last-child{
    color:#6C757D ;
}
.rev{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}
.iconmenu{
    text-align: center;
    padding-top: 50px;
    padding-left: 20px;
}
.iconmenu span {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    padding: 0 20px;
    transition: 0.3s;
    cursor: pointer;
}
.iconmenu span:hover{
    color: #1BC5AD;
}
.section2{
    padding-top:50px ;
    padding-bottom: 100px;
}
.text-center {
    text-align: center;
}
.section-title-describe h2{
    font-size: 30px;
    color: #30E3CA;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
}
.section-title-describe p{
    margin-top: -20px;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
}
.section-title-describe .befor {
    margin: 0 auto;
    width: 80px;
    height: 3px;
    background-color: rgb(48, 227, 202);
}
.popularproducts > .befor {
    margin: 0;
}
.productimg img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
    border-radius: 10px;
}
.productimg{
    width: 350px;
    height: 300px;
    overflow: hidden;
    
}
.productlist{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 50px;
}
.product1{
    position: relative;
    
}
.product1:hover img{
    transform: scale(1.05);
    
}
.product1::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index:1 ;
}
.productflex{
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 10px;
    z-index:2 ;
    
}
.producttextarea{
    padding-left: 20px;
}
.border{
    color: #fff;
    font-size: 14px;
    padding:5px 10px ;
    background-color: #30E3CA;
    width:90px ;
    border-radius:50px ;
    margin-bottom: 10px;
    text-align: center;
}
.producttextarea a{
    text-decoration: none;
    color: #fff;
}
.producttextarea h4 {
    font-size: 20px;
    margin: 0;
    font-weight: 400;
    
}
.producttextarea p{
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
}
.loveicon i {
    color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-top: 50px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}
.loveicon i:hover{
    background-color: #F23A2E;
}
.product-link {
    display: flex;
    flex-direction: column;
}
.productimg2{
    width: 540px;
    height: 460px;
    overflow: hidden;
    border-radius: 10px;
}
.productimg2 img{
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.loveicon1{
    margin-left: 170px;
}
.section3{
    background-color: #F8F9FA;
    padding-bottom: 80px;
    padding-top: 50px;
}
.trendingsection{
    padding-top:30px ;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.trending1{
    width: 48%;
    display: flex;
    background-color: #FFFFFF;
    border-radius:7px;
    flex-wrap: wrap;
}
.section3 .section-title-describe h2 {
    margin-bottom: 5px;
    text-align: left;
}
.section3 .section-title-describe .befor {
    margin: 0;
}
.trendingimg{
    width:100% ;
}
.trendingimg img{
    width: 100%;
    height: 100%;
    border-radius: 7px 0 0 7px;
}
.trendingtextarea a{
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    background-color: #E9ECEF;
}
.trendingmanagment {
    width: 100%;
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.trendingtextarea h4 a{
    padding: 0;
    background-color: transparent;
    color: #19cfb7;
    font-size:17px ;
    font-weight: 400;
}
.trendingtextarea h4 a:hover{
    color: #119281;
}
.trendingtextarea h4{
    margin-bottom: 0;
    
}
.trendingtextarea P{
    font-size:14px ;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 7px;
    margin-bottom: 0;
}
.treviews{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}
.ticons i{
    font-size: 15px;
    color: #F89D13;
}
.treviews p{
    margin-top: 15px;
}
.treding-icon-love i{
    padding:10px;
    background-color:#E9ECEF ;
    border-radius: 50%;
    color: #0fe9cc;
}
.treding-icon-love i:hover{
    background-color: #F23A2E;
    color: #fff;
}
.section4{
    padding-top: 5em;
    padding-bottom: 13em;
}
.testimonialimg{
    text-align: center;
    margin-top: 50px;
}
.testimonialimg img{
    max-width: 100px;
    border-radius: 50%;
    
}
.testimonialimg p{
    margin-top: 7px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 10px;
}
.testtextarea p{
    font-size: 25px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 139px;
    text-align: center;
    margin-top: 40px;
    
}
.testicons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -210px;
}
.testicons span{
    font-size: 30px;
    padding:10px ;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    color: #fff;
}
.testicons span:hover{
    background-color: #000000;
    color: #0fe9cc;
}
.section5{
    background-color:#F8F9FA ;
    padding: 80px 0;
}
.section-title-describe h2{
    margin-top: 0;
}
.section-title-describe p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}
.bloglist{
    padding-top: 50px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blogs1{
    width:32%;
    background-color: #F8F9FA;
}
.blogsimg img{
    max-width:100% ;
    border-radius: 7px;
}
.blogareatext h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
}
.blogareatext h6{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    word-spacing: 2px;
    color: rgba(0, 0, 0, 0.4);
}
.blogareatext h6 a{
    text-decoration: none;
    margin-left: 8px;
    color: #0fe9cc;
}
.blogareatext h6 a:hover{
    color: #119281;
}
.blogareatext P{
    font-size: 18px;
    font-weight: 200;
    margin-top: 0;
}
.blogbutton{
    margin-left: 40%;
    margin-top: 50px;
    
}
.blogbutton button{
    font-size: 17px;
    border: none;
    background-color: #0fe9cc;
    color:#fff;
    padding: 10px 20px;
    font-weight: 400;
    border-radius: 5px;

}
.blogbutton button:hover{
    background-color: #1CD1B7;
}
.section6{
    background-color: #30E3CA;
    padding: 40px 0;
}
.subcontact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.subscribetextarea h4{
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    margin: 0;
}
.subscribetextarea p{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.7);
    margin-top:8px ;
}
.subscribearea input{
    border: none;
    outline: none;
    background:none;
    padding: 10px 250px;
    padding-left: 0;
    border-bottom:1px solid #fff ;
    color: #080808;
    font-size: 18px;
}
.subscribearea button{
    padding:10px ;
    border: none;
    margin-left: -6px;
}
.subscribearea button a{
    text-decoration: none;
    font-size:20px ;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.7);
}
.subscribearea input::placeholder{
    color: #fff;
}
.subscribearea button:hover {
    background-color:#000000 ;
    
}
.subscribearea button:hover a{
    color: #fff;
}
footer{
    background-color:#333333;
    padding-top: 20px;
}
.footercontent{
    display: flex;
    align-items:start;
    padding-top:100px ;
    gap: 20px;
    position: relative;
    padding-bottom: 120px;
    flex-wrap: wrap;
}
.footercontent::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 40px;
}
.frabout{
    width: 380px;
}
.frabout h3{
    color: #fff;
    font-weight: 300;
    margin-top: 0;
}
.frabout p{
    color: rgba(255, 255, 255, 0.2);
    font-size: 17px;
    font-weight: 100;
    line-height: 25px;
}
.frnavigation{
    width: 200px;
}
.frnavigation h3{
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    margin-top: 0;
}
.frnavigation ul{
    padding-left: 0;
}
.frnavigation ul li{
    list-style: none;
    padding:7px 0 ;
}
.frnavigation ul li a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.4) ;
    font-size: 18px;
    font-weight: 200;
}
.frnavigation ul li a:hover{
    color: #fff;
}
.frsocailicons h3{
    color: #fff;
    font-weight: 300;
    margin-top: 0;
}
.frsubicons a{
    padding:0 25px ;
    padding-left: 0;
}
.frsubicons a i{
    color: rgba(255, 255, 255, 0.5);
}
.frsubicons a i:hover{
    color: #fff;
}
.frinputarea{
    display: flex;
    align-items: center;
}
.frinputarea input{
    padding: 10px 15px;
    outline: none;
    background:none;
    border: 1px solid rgba(252, 251, 251, 0.4);
    color:#fff ;
    font-size: 18px;
    font-weight: 200;
}
.frinputarea input::placeholder{
    font-size: 17px;
}
.frinputarea a button {
    padding: 11.5px 12px;
    font-size: 17px;
    color: #fff;
    background-color: #0fe9cc;
    border: none;
    cursor: pointer;
    margin-left: -6px;
}
.frinputarea a button:hover{
    background-color: #1CD1B7;
}
.frcopyright{
    text-align: center;
    padding-bottom: 100px;
}
.frcopyright p{
    color:rgba(255, 253, 253, 0.3) ;
}
.frcopyright p a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    font-weight: 200;
}

/* Ads Page CSS */
#page-1 header {
    height: 55vh;
    background-image: url(./img/ads-bg.webp);
}
#page-1 .textarea1 {
    padding-top: 95px;
}
#page-1 .card1 {
    width: 47%;
}
#page-1 .cardarea1 {
    width: 65%;
    padding-left: 0;
}
.page-with-sidebar {
    display: flex;
    gap: 50px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}
.tranding-today{
    padding-top: 80px;
}
.side-bar {
    width: 26%;
}
.side-bar h2{
    margin-top: 0;
    font-weight: 300;
}
.filterinputarea input{
    padding: 6px 30px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 200;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    color: rgba(0, 0, 0, 0.5);
}
.filterinputarea select{
    padding: 6px 76px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 200;
    margin: 20px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    color: rgba(0, 0, 0, 0.5);
}
.fillercheckboxarea h4{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 60px;
}
.fillercheckboxarea{
    padding-bottom: 50px;
}
.fillercheckboxarea h6{
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 20px;
}
.frscheckbox{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: column;
}
.checkbox-pt{
    display: flex;
    gap: 10px;
}
.frscheckbox p{
    margin: 5px 0;
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
}
.frstextare h4{
    font-size: 18px;
    font-weight: 400;
}
.frstextare p{
    font-size: 17px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 30px;
    max-width: 220px;
}
#page-1 .section3{
    padding: 100px 0;
}


/* Ads page-1 End */


/* About page-2 Star */


#page-2 header{
    height: 55vh;
    background-image: url(./img/ads-bg.webp);
}
.section-about-1{
    padding: 50px 0;
}
.st1-tect-area{
    display: flex;
    margin-bottom: 50px;
    
}
.st1-sub-text-1{
    width:50%;
    padding: 0 20px;
}
.st1-sub-text-1 p{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
}
.outteam{
    padding-top: 20px;
    padding-bottom: 50px;
}
.otheading{
    font-size: 30px;
    font-weight: 600;
    color: #0edabe;
    position: relative;
    margin-bottom: 50px;
}
.otheading::before{
    content: "";
    width:80px ;
    height: 3px;
    position: absolute;
    background-color: #30E3CA;
    top: 50px;
}
.outteammain{
    display: flex;
    width:100% ;
    gap:20px ;
    flex-wrap: wrap;
}
.otmembers{
    width: 23%;
    padding-top: 20px;
}
.otmembers img{
    width: 100%;
}
.otmembers h4{
    font-size:28px ;
    font-weight:300 ;
    margin: 10px 0;
    color: rgba(0, 0, 0, 0.8);
}
.otmembers h6{
    margin: 10px 0;
    font-size:14px ;
    text-transform: uppercase;
    font-weight:500 ;
    color: #06dabd;
}
.otmembers p{
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    font-weight: 400;
}
.section-about-2{
    padding:50px 30px ;
}
.whyussection{
    width:90%;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}
.wsimg{
    width: 45%;
}
.wsimg img{
    width:100%;
    border-radius: 5px;
}
.wstextarea{
    width: 45%;
}
.wstextarea h2 {
    font-size: 32px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 30px;
    color: #0edabe;
    line-height: 0;
    
}
.wstextarea p{
    color: rgba(0, 0, 0, 0.7);
}
.wstextarea ul{
    padding-left: 0;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.icon-li{
    display: flex;
    align-items: center;
    width: 100%;
    
}
.wstextarea ul li{
    list-style: none;
    color:rgba(0, 0, 0, 0.8) ;
    font-size: 18px;
    line-height: 35px;
    width: 90%;
}
.wstextarea ul i{
    color:#0edabe ;
    padding: 0 15px;
    padding-left: 0;
}
.wstta1{
    margin-left: 0;
    width:45% ;
}
.wsimg1{
    width: 45%;
}
.whyussection1{
    padding-top: 100px;
}
/* About page-2 End */

/* Blog page-3 Star */

#page-3 header{
        height: 55vh;
        background-image: url(./img/ads-bg.webp);
}
.blog-section-1{
    padding-top: 80px;
    padding-bottom: 120px;
    
}
.sellingmain{
    width:70% ;
    display: flex;
    flex-wrap: wrap;
    gap:30px ;
    margin-right: 0;
}
.blogst{
   width: 45%;
}
.blog-st1-search-area{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.blog-st1-search-area h4{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 0;
}

.blog-st1-flex{
    display: flex;
    
}
.blog-searchbox {
    padding-bottom: 40px;
}

.blog-searchbox input{
    padding: 10px 70px;
    padding-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    font-size: 18px;
    font-weight: 400;
    
}
.blog-searchbox input::placeholder{
    font-weight: 200;
    color: rgba(0, 0, 0, 0.4);
}
.blog-popular-posts{
    padding-bottom: 40px;
}
.blog-st1-search-area a{
    text-decoration: none;
    color: #06dabd;
    font-size: 18px;
    font-weight: 200;
    line-height: 35px;
}
.blog-st1-search-area span{
    font-size: 18px;
}
.blog-st1-search-area a:hover{
    color: #119281;
}
 /* Blog page-3 End */

 /* Contact page- Star */

 #page-4 header{
    height: 55vh;
    background-image: url(./img/ads-bg.webp);
}
.contact-section-1{
    background-color: #F8F9FA;
    padding: 100px 0;
   
}
.contact-flex{
    display: flex;
    gap: 50px;
    
}
.contact-form-area{
    width: 57%;
    background-color: #fff;
    padding:3rem;
}
.contact-address-area{
    width: 38%;
}
.ct-fa-name{
    display: flex;
    gap: 30px;
}
.ct-fa-name1{
    width: 45%;
}
.ct-fa-name2{
    width: 45%;
}
.ct-fa-name input{
    padding:10px 0;
    width: 100%;
    padding-left: 10px;
}
.contact-form-area input{
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.7);
}
.contact-form-area label{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    padding: 0 50px;
    padding-left: 0;
}
.contact-form-area input:focus{
    border-color: #0fe9cc;
}
.ct-fa-email input{
    padding: 10px 0;
    width:97% ;
}
.ct-fa-subject input{
    padding: 10px 0;
    width:97% ;
}
.ct-fa-message textarea{
    width:97% ;
    margin-top: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 15px;
}
.ct-fa-message textarea:focus{
    border-color: #0fe9cc;
}
.contact-form-area button{
    padding:10px 20px ;
    background-color: #06dabd;
    border: none;
    margin-top: 20px;
}
.contact-form-area button a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 200;
    color: #fff;
}
.contact-form-area button:hover{
    background-color: #1CD1B7;
}
.contact-address-box{
    background-color: #fff;
    padding: 20px;
}
.contact-address-box h4{
    margin-top: 0;
    margin-bottom: 0;
    font-size:20px ;
    font-weight: 400;
}
.contact-address-box  p{
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 17px;
}
.contact-address-box a{
    text-decoration: none;
    color: #06dabd;
    font-size: 18px;
    
}
.contact-more-info{
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
}
.contact-more-info h4{
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    color: rgba(0, 0, 0, 0.8);
}
.contact-more-info p{
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
}
.contact-more-info button{
    padding: 10px 20px;
    background-color: #06dabd;
    border: none;
    margin-top: 10px;
}
.contact-more-info button a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 200;
    color: #fff;
}
.contact-more-info button:hover{
    background-color: #1CD1B7;
}
.contact-section-2{
    padding: 50px 0;
}
.ct-withe{
    width: 70%;
    margin: 0 auto;
}
.ct-frequentlyheading{
    text-align: center;
    margin-bottom: 100px;
}
.ct-frequentlyheading h2{
    font-size: 32px;
    font-weight: 400;
    color: #06dabd;
    margin-bottom: 0px;
    position: relative;
}
.ct-frequentlyheading h2::before {
    content: "";
    width: 80px;
    height: 3px;
    position: absolute;
    background-color: rgb(14, 218, 190);
    top: 100px;
    left: 360px;
}
.ct-list-my-uten{
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.ct-list-my-uten h4{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    color: #06dabd;
}
.ct-list-my-uten p{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
}
.ct-border h4{
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px 0;
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.6);
}

/* Cotnact page-4 End */

/* Login page-5 Star */

#page-5 header{
    height: 55vh;
    background-image: url(./img/ads-bg.webp);
}
.loginpage{
    background-color: #F8F9FA;
    padding: 50px 0;
}
.loginform{
    width:50% ;
    margin: 0 auto;
    background-color: #fff;
    padding:50px ;
    padding-bottom: 70px;
}
.loginform label{
    font-size: 20px;
    font-weight: 300;
    
}
.loginform input{
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.6);
}
.loginform input:focus{
    border-color: #06dabd;
}
.loginform p{
    margin-top: 0;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
}
.loginform p a{
    text-decoration: none;
    color: #0edabe;
}
.loginform button{
    padding: 10px 20px;
    background-color: #0edabe;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}
.loginform button a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
   
}

/* Login page End */

/* Register page Star */

#page-6 header{
    height: 55vh;
    background-image: url(./img/ads-bg.webp);
}
#page-6 .loginpage{
    padding: 100px 0;
}

/* Mobail Responsive */

@media (max-width:768px){
    .contener{
        width: 100%;
    }
    .textarea1 h1 {
        font-size: 35px;
    }
    .textarea1 p{
        font-size: 18px;
    }
    .card1{
        width: 90%;
    }
    .productimg2{
        width: 100%;
    }
    .trending1{
        width: 100%;
    }
    .blogs1{
        width: 100%;
    }
    .subscribearea input{
        padding: 0;
    }
    .frabout{
        width: 100%;
    }
    .blogbutton {
        margin-left: 30%;
    }
    #page-1 .cardarea1{
        width: 100%;
    }
    .testtextarea p{
        font-size:20px ;
    }
    .hover-1 ul{
        right: -16px;
        background-color: #d1d2d3;
        z-index: 9;
    }
    .trendingimg img{
        border-radius: 7px;
    }
    .side-bar{
        padding-top: 20px;
        width:100% ;
        margin: 0 auto;
    }
    .frscheckbox p{
        
    }
    #page-1 .card1{
        width: 45%;
    }
    .otmembers{
        width:100% ;
    }
    .wstextarea{
        width: 100%;
    
    }
    .wsimg{
        width: 100%;
    }
    .wsimg1{
        margin-left: 0;
    }
}